<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker</title>
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Add a New Transaction</h1>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form action="/add" method="post">
            <label for="deacription">Description:</label>
            <input type="text" name="description" id="description">
            <label for="amount">Amount (Use '-' for expenses):</label>
            <input type="number" name="amount" id="amount" step="0.01">
            <input type="submit" value="Add Transaction">
        </form>
        <hr style="margin: 30px 0;">

        <h2>All Transactions</h2>
        <h3>Current Balance: R {{ "%.2f" | format(balance) }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{transaction.description}}</td>
                    <td class="{{'income' if transaction.amount|float >= 0 else 'expense'}}">
                        R {{ "%.2f" | format(transaction.amount|float)}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not transactions %}
        <p style="text-align: center;">No Transactions yet. Add one above</p>
        {% endif %}
    </div>
</body>
</html>